
/*ブレイクポイント
PC...2560px ×　1140px

Tab...1024px ×　744px

phone...375px × 667px
PC/Tab 横幅最大…1440px たて最大…900px
                
PC/Tab 横幅最小…1024px 縦幅最小…744px
phone　横幅最小…375px　縦幅最小…667px
*/


/*基準を1rem=10pxに設定*/
html {
  font-size: 10px;
  font-family: "Spectral", serif;
}

:root {
  --sub-bgcolor: #c5c5c5;
  --article-bgcolor: #333;
  --about-color: #dd7878;
  --learned-color:  #78bddd;
  --portfolio-color: #78dd7d;
  --future-color: #ddd778;
  --html-color: #e4571f;
  --css-color: #3e8bcb;
  --Js-color: #dfc93a;
}



header {
  height: 100px;
  background-color: var(--sub-bgcolor);
  color: #333;
  display: flex;
  align-items: center;
}

header span {
  font-size: 3.6rem;
  margin-left: 20px;
}

#main-list {
  position: relative;
  background: linear-gradient(#000 1%, #333 30%, #333 60%, #000 99%);
  height: calc(100vh - 150px);
  
}

#main-list ul{
  position: absolute;
  top: calc(50% - 4.8rem);
  width: 100%;
  text-align: center;
}

#main-list ul li {
  font-size: 4.8rem;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  margin: 0 4.6%;
}


#main-list .aboutColor {
  position: relative;
  padding-bottom: 2px;
}

#main-list .aboutColor:hover {
  color: var(--about-color);
  cursor: pointer;
}

.aboutColor.aLine::before {
  content: "";
  background-color: var(--about-color);
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}

.aboutColor.aLine:hover:before {
  transform-origin: left top;
  transform: scale(1, 1);
}


/*learned*/
#main-list .learnedColor {
  position: relative;
  padding-bottom: 2px;
}

#main-list .learnedColor:hover {
  color: var(--learned-color);
  cursor: pointer;
}

.learnedColor.lLine::before {
  content: "";
  background-color: var(--learned-color);
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}

.learnedColor.lLine:hover:before {
  transform-origin: left top;
  transform: scale(1, 1);
}


/*portfolio*/
#main-list .portfolioColor {
  position: relative;
  padding-bottom: 2px;
}

#main-list .portfolioColor:hover {
  color: var(--portfolio-color);
  cursor: pointer;
}

.portfolioColor.pLine::before {
  content: "";
  background-color: var(--portfolio-color);
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}

.portfolioColor.pLine:hover:before {
  transform-origin: left top;
  transform: scale(1, 1);
}


/*future*/
#main-list .futureColor {
  position: relative;
  padding-bottom: 2px;
}

#main-list .futureColor:hover {
  color: var(--future-color);
  cursor: pointer;
}

.futureColor.fLine::before {
  content: "";
  background-color: var(--future-color);
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}

.futureColor.fLine:hover:before {
  transform-origin: left top;
  transform: scale(1, 1);
}

/*main-listの非表示*/
#main-list.hidden {
  visibility: visible;
}






/*about-article*/
#aboutArticle {
  visibility: hidden;
  position: fixed;
  top: 100px;
  width: 100%;
  height: calc(100vh - 150px);
  background: linear-gradient(#dd7878 -5%, #333 5%, #333 95%, #dd7878 105%);
  transition: all 0.3s;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
}

#aboutArticle h1 {
  height: 140px;
  padding: 20px 0;
  font-size: 6rem;
  color: var(--about-color);
  text-align: center;
}

#aboutArticle h2 {
  overflow: hidden;
  text-align: center;
  font-size: 1.8rem;
  color: var(--about-color);
}

#aboutArticle h3 {
  font-size: 1.8rem;
  color: #333;
}

#aboutLayout {
  height: calc(100vh - (150px + 140px));
}

#about-listArea {
  height: 100%;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  padding: 0 20px 0 20px;
}

.popup {
  position: relative;
  animation: pop-anime 0.8s ease-out forwards;
  animation-delay: 0.3s;
  bottom: -40px;
}

@keyframes pop-anime {
  from {
    bottom: -40px;
  }
  to {
    bottom: 0px;
  }
}

#about-listArea li {
  margin: 0 12px;
}

#about-listArea li:nth-child(4){
  cursor: pointer;
}  

#about-listArea li:nth-child(5){
  cursor: pointer;
}

#about-listArea-list2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

#about-listArea-list3 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

#about-listArea-list4 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

#about-listArea-list4 > li:last-child {
  position: relative;
  top: -20px;
}

.about-list {
  position: relative;
  top: 0;

}

.about-list h2, .about-list p , .about-list ul{
  background-color: var(--article-bgcolor);
  position: relative;
  z-index: 2;
}

.about-list::after {
  content: '';
  position: absolute;
  top: 0;
  left: -6px;
  z-index: 1;
  width: calc(100% + 12px);
  height: 100%;
  display: inline-block;
  border-right: solid 2px var(--about-color);
  border-left: solid 2px var(--about-color);
  border-top: solid 2px var(--about-color);
  border-bottom: solid 2px var(--about-color);
  border-radius: 5px;
}


/*text-anime*/
.jumpText  {
  display: inline-block;
  animation: colorAnimation 1.5s ease-in infinite;
}

@keyframes colorAnimation {

  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}


/*about-section*/
.sectionBox > p {
  font-size: 2rem;
}

.blurBg {
  filter: blur(10px);
}

/*section-restaurant*/
#about-section_restaurant {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 20;
  text-align: center;
  padding-top: 150px;
  color: #fff;
}

#about-section_restaurant h3 {
  font-size: 3rem;
}

#about-section_restaurant > p {
  font-size: 1.6rem;
}

#restaurantContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}

#about-section_restaurant h4 {
  font-size: 2.5rem;
}


/*section-company*/
#about-section_company {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 20;
  text-align: center;
  padding-top: 10%;
  color: #fff;
}

#companyContent {
  overflow-x: auto;
  white-space: nowrap;
  width: 1100px;
  margin: 0 auto;
  font-size: 1.4rem;
}

#about-section_company h3 {
  font-size: 2.2rem;
}

#about-section_company table thead tr th {
  padding: 10px 30px;
}

 #about-section_company table tbody {
  height: 400px;
 }

 #about-section_company table td {
  padding: 10px 30px;
 }

#about-section_company table tbody th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #101010;
}

#about-section_company table tr {
  border-bottom: solid 1px #ffffff59;
}

#about-section_company table tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


/*section-hobby*/
#about-section_hobby {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 20;
  text-align: center;
  padding-top: 150px;
  color: #fff;
}

#about-section_hobby h3 {
  font-size: 5rem;
}

#about-section_hobby p {
  font-size: 1.4rem;
  margin-top: 15px;
}





/*learned-article*/
#learnedArticle {
  position: fixed;
  visibility: hidden;
  top: 100px;
  width: 100%;
  height: calc(100vh - 150px);
  background: linear-gradient(#78bddd -5%, #333 5%, #333 95%, #78bddd 105%);
  transition: all 0.3s;
  text-align: center;
  color: #fff;
}

#learnedLayoutWrap {
  width: 100vw;
}

#learnedArticle h1 {
  height: 140px;
  padding: 20px 0;
  font-size: 6rem;
  color: var(--learned-color);
  text-align: center;
}

.learnedLayout-title{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.learnedLayout-title h2{
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 0 40px;
  border-bottom: solid 2px #202020;
  font-size: 3rem;
  color: var(--sub-bgcolor);
  cursor: pointer;
}

.learnedLayout-title h2:hover {
  color: var(--learned-color);
  animation: borderAnime-under .5s linear forwards;
}

@keyframes borderAnime-under {
  from {border-bottom: solid 2px #202020;}
  to {border-bottom: solid 2px #333;}
}

.learnedLayout-title h2:hover::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  border-bottom: solid 3px var(--learned-color);
  animation: borderAnime .5s linear forwards;
}

@keyframes borderAnime {
  from {width: 0%;}
  to {width: 100%;}
}

.learned-DetailArea {
  position: relative;
  
  
  
  
  
}

.learned-DetailArea_displayFlex {
  position: absolute;
  top: 0;
  left: 5vw;
  height:calc((100vh - (100px + 140px + 46px + 50px + 60px)));
  width: 90vw;
  margin: 30px auto 30px auto; 
  display: inline-block;
  font-size: 1.4rem;
  overflow: hidden;
  overflow-y: scroll;
  visibility: hidden;

}

.learned-DetailArea_content {
  position: relative;
  left: 5%;
  width: 90%;
  height: 100%;
  background-color: #101010b5;
  padding-top: 50px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.learned-DetailArea_content:nth-child(2){
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.learned-DetailArea_content h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.learned-DetailArea_content h4 {
  font-size: 1.6rem;
}

.learned-DetailArea_content ol {
  height: 100%;
  width: 100%;
  z-index: 10;
  display: inline-block;
}

.learned-DetailArea_miniContent {
  margin-bottom: 32px;
  position: relative;
}

.learned-DetailArea_miniContent::after {
  content: "";
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 15px;
  height: 10px;
  background-color: #ffffffc7;
}

.learned-DetailArea_miniContent:last-child::after {
 display: none;
}







/*portfolio-article*/
#portfolioArticle {
  position: fixed;
  visibility: hidden;
  top: 100px;
  width: 100%;
  height: calc(100vh - 150px);
  background: linear-gradient(#78dd7d -5%, #333 5%, #333 95%, #78dd7d 105%);
  transition: all 0.3s;
  text-align: center;
  color: #fff;
}

#portfolioLayoutWrap {
  width: 100vw;
  height: calc(100vh - (100px + 140px + 100px + 50px));
  position: relative;
}

#portfolioArticle h1 {
  height: 140px;
  padding: 20px 0;
  font-size: 6rem;
  color: var(--portfolio-color);
  text-align: center;
}

.portfolioLayout-title{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.portfolioLayout-title h2{
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 0 40px;
  font-size: 3rem;
  color: var(--sub-bgcolor);
  cursor: pointer;
}

.portfolioLayout-title h2 span {
  filter: blur(0);
}

.portfolio_detail {
  opacity: 0;
  position: absolute;
  top: 30px;
  left: 65px;
}

.portfolio_detail.section1-active {
  width: 90%;
  height: 100%;
  margin: 20px auto 0 auto;
  background-color: #1c1c1c;
  border-radius: 10px;
  opacity: 1;
}

.portfolio_detail.section2-active {
  width: 90%;
  height: 100%;
  margin: 20px auto 0 auto;
  background-color: #1c1c1c;
  border-radius: 10px;
  opacity: 1;
}

.portfolio_detail.section3-active {
  width: 90%;
  height: 100%;
  margin: 20px auto 0 auto;
  background-color: #1c1c1c;
  border-radius: 10px;
  opacity: 1;
}

.sectionArea-left {
  width: 50%;
  height: 100%;
  position: relative;
  left: 0;
  padding-top: 15px;
  overflow: hidden;
  overflow-y: scroll;
}

.sectionArea-right {
  width: 50%;
  height: 100%;
  position: relative;
  bottom: calc(100vh - (100px + 140px + 100px + 50px));
  left: 50%;
}

/*left-setting*/


.sectionArea-left .explainArea {
  margin-top: 30px;
}

.sectionArea-left h3 {
  font-size: 1.8rem;
  color: var(--portfolio-color);
}

.sectionArea-left p, .sectionArea-left li {
  margin-top: 10px;
  font-size: 1.4rem;
  border-bottom: 1px solid #4e4e4e57;
}










.circle {
  opacity: 0;
  position: absolute;
	top: 50%;
	left: 100px;
	transform: translate(-50%, -50%);
	width: 300px;
  height: 300px;
	box-shadow: 0 0 6px #fff inset, 0 0 10px #000 ;
  border-radius: 50%;
}

.circle.activeCircle1 {
  background-image: radial-gradient(#1c1c1c 60%, transparent 62%), 
  conic-gradient(#1bbe1d 0% 47.9%, transparent 31% 100%), 
  conic-gradient(#206821 0% 82%, transparent 71% 100%), 
  conic-gradient(#8eed90 0% 100%, transparent 100% 100%);
  animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  animation-delay: 0.5s;
}

.circle.activeCircle2 {
  background-image: radial-gradient(#1c1c1c 60%, transparent 62%), 
  conic-gradient(#be1b1b 0% 30%, transparent 31% 100%), 
  conic-gradient(#682020 0% 70%, transparent 71% 100%), 
  conic-gradient(#ed8e8e 0% 100%, transparent 100% 100%);
  animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  animation-delay: 0.5s;
}

.circle.activeCircle3 {
  background-image: radial-gradient(#1c1c1c 60%, transparent 62%), 
  conic-gradient(#1bbe1d 0% 56%, transparent 31% 100%), 
  conic-gradient(#206821 0% 87.2%, transparent 71% 100%), 
  conic-gradient(#8eed90 0% 100%, transparent 100% 100%);
  animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  animation-delay: 0.5s;
}
 
@keyframes zoomIn {
  0% {
    transform: translateY(-50%) scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}



.circle ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: relative;
  width: 100%;
  font-size: 2rem;
}

.circle ul li {
  width: 62px;
}

.circle ul li:first-child {
  position: absolute;
  top: 60px;
  right: 60px;
}

.circle ul li:nth-child(2) {
  position: absolute;
  top: 175px;
  right: 160px;
}

.circle ul li:nth-child(3) {
  position: absolute;
  top: 60px;
  right: 180px;
}

.circle .percentage {
  position: relative;
  font-size: 1.6rem;
}

.circle .percentage span:first-child {
  position: absolute;
  top: 85px;
  right: 40px;
}

.circle .percentage span:nth-child(2) {
  position: absolute;
  top: 200px;
  right: 160px;
}

.circle .percentage span:nth-child(3) {
  position: absolute;
  top: 90px;
  right: 170px;
}




/*future-article*/
#futureArticle {
  position: fixed;
  visibility: hidden;
  top: 100px;
  width: 100%;
  height: calc(100vh - 150px);
  background: linear-gradient(var(--future-color) -5%, #333 5%, #333 95%, var(--future-color) 105%);
  transition: all 0.3s;
  text-align: center;
  color: #fff;
}

#futureArticle h1 {
  height: 140px;
  padding: 20px 0;
  font-size: 6rem;
  color: var(--future-color);
  text-align: center;
}

#futureLayoutWrap {
  position: relative;
  width: 90vw;
  height: calc(100vh - (100px + 140px + 50px + 30px));
  display: block;
  margin: 0 auto;
}



.futureContent {
  background-color: #1010108d;
  border-radius: 20px;
}

#futureLayoutWrap #frontContent ,
#futureLayoutWrap #backContent {
  transition: all 0.6s;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

#futureLayoutWrap #frontContent {
  transform: rotateY(-180deg);
}

#futureLayoutWrap:hover #backContent {
  transform: rotateY(180deg);
}

#futureLayoutWrap:hover #frontContent {
  transform: rotateY(0);
}

.futureContent h2{
  text-align: center;
  padding: 0 40px;
  font-size: 2.5rem;
  color: var(--sub-bgcolor);
}

.futureContent h3 {
  font-size: 2rem;
  color: var(--future-color);
}

.futureContent .contentWrap {
  margin-top: 30px;
}

.futureContent ul  {
  width: 90vw;
  display: flex;
  justify-content: center;
}

.futureContent ul li {
  width: 200px;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 30px;
}

.futureContent ul li h4 {
  
}







































footer {
  height: 50px;
  background-color: var(--sub-bgcolor);
}

.return {
  visibility: hidden;
  text-align: center;
  height: 30px;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
}


